<header class="top-menu">
  <nav>
    <ul>
      <li class="logo">
        <a href="main">
          <img src="/images/Blanfix.png" alt="Logo" style="height: 30px; vertical-align: middle;">
        </a>
      </li>
      <li><a href="main" class="active">Home</a></li>
      <li><a href="#">TV Shows</a></li>
      <li><a href="#">Movies</a></li>
      <% if (user.username == 'admin') { %>
        <li><a href="content">Add Content</a></li>
      <% } %>
      <li><a href="#">Browse by Languages</a></li>
      <li class="right-icons">
        <div class="search-container">
          <img src="/images/search.png" alt="Search" id="search-icon" style="height:25px; cursor: pointer;">
          <div class="search-box" id="search-box">
            <input type="text" id="search-input" placeholder="Search movies..." autocomplete="off">
            <button id="close-search">✕</button>
          </div>
        </div>
        <a href="settings"><img src="/images/settings.png" alt="Settings" style="height:25px;"></a>
        <a href="profiles"><img src="/images/pig.jpg" alt="Profile" style="height:30px; border-radius:30%;"></a>
      </li>
    </ul>
  </nav>
</header>