<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= movie.title %> - Watch</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/watch.css" />
  </head>
  <body>
    <div class="video-wrapper">
      <video class="cover-video" src="<%= movie.videoPath %>" preload="metadata"></video>

      <div class="controls">
        <button class="playPause">▶</button>
        <button class="backward">⏪ 10s</button>
        <button class="forward">10s ⏩</button>
        <input type="range" class="timeline" min="0" max="100" value="0" />
        <span class="time-display">00:00 / 00:00</span>
        <button class="fullscreen">⛶</button>

        <div class="volume-control">
          <button class="volumeToggle">🔊</button>
          <input type="range" class="volumeSlider" min="0" max="1" step="0.01" value="1" />
        </div>
      </div>
    </div>

    <script>
      window.CURRENT_USER_ID = "<%= user._id %>";
      window.CURRENT_PROFILE = "<%= activeProfile.name %>";
    </script>
    <script src="/js/watch.js"></script>
  </body>
</html>
